<h1><%= @startup.headline %></h1>
<hr>

<p><%= @startup.city %></p>

<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
	    <strong>About</strong>
	  </div>
	  <div class="panel-body">
	    <%= @startup.about %>
	  </div>
	</div>
</div>

<p>
	<%= link_to 'Edit', edit_startup_path(@startup) %> |
  <%= link_to 'All Startups', startups_path %>
</p>

</div>

