<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <form>
      <div class="form-group">
        <%= f.label 'Headline' %>
        <%= f.text_field :headline, class: 'form-control' %>
        <br>

        <%= f.label 'City' %>
        <%= f.text_field :city, class: 'form-control' %>
        <br>

        <%= f.label 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
        <br>

        <%= f.label 'About' %>
        <%= f.text_area :about, rows: 4, class: 'form-control' %>

        <br>
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
      </div>
    </form>
  </div>
<% end %>
